<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="MyTestSuite">
    <test name="TestAndroid">
        <classes>
            <class name="com.solvd.LoginTest"/>
            <class name="com.solvd.ProductTest"/>
            <class name="com.solvd.CartTest"/>
            <class name="com.solvd.DrawingTest"/>
        </classes>
    </test>
</suite>